
<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media => "all" %>
<!-- END:stylesheet -->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->
</head>
<body id="store">
  <div id="banner">
  	<%= link_to image_tag( 'logo.png'), store_path %>
    <%= @page_title || "Pragmatic Bookshelf" %>
  </div>
  <div id="columns">
    <div id="side">
      <%= link_to("Catalog", store_path) %><br />
      <%= link_to("Products", products_path) %><br />
      <a href="http://www..../faq">Questions</a><br />
      <a href="http://www..../news">News</a><br />
      <a href="http://www..../contact">Contact</a><br />
      <span style="color: #fff;"><%= Time.now.to_formatted_s(:long) %></span>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
